# Project exclude paths
/.gradle/
/Amazing Numbers/task/build/
/Amazing Numbers/task/out/
/Amazing Numbers/task/out/production/classes/
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/
/Topics/Fields and methods in enum/Balance management/out/
/Topics/Fields and methods in enum/Balance management/out/production/classes/